<div class="{{if activeErrors 'has-error'}}">
  <label for="{{attribute}}">{{label}}</label>

  {{#if checkbox}}
    {{input class="form-control" type=type checked=value name=attribute}}
  {{else if switch}}
    {{bs-switch class="form-control" checked=value on-text='Ativo' off-text='Inativo'}}
  {{else if text}}
    {{input class="form-control" type=type value=value name=attribute}}
  {{else if select}}
    {{ember-selectize
      content=fetchedContent
      optionValuePath=processedPath
      optionLabelPath=processedLabel
      selection=value
      required='true'}}
  {{/if}}

</div>
