<div class="{{if activeErrors 'has-error'}}">
  <label for="{{attribute}}">{{label}}</label>

  {{#if text}}
    {{input type=type value=value name=attribute}}
  {{else if checkbox}}
    {{input type=type checked=value name=attribute}}
  {{/if}}

</div>
