<div class="{{if activeErrors 'has-error'}}">
  <label for="{{attribute}}">{{label}}</label>

  {{#if readonly}}
    {{#if checkbox}}
      {{input class="form-control" type=type checked=value name=attribute}}
    {{else if switch}}
      {{bs-switch class="form-control" checked=value on-text='Ativo' off-text='Inativo' readonly='true'}}
    {{else if text}}
      <input class="form-control" type="{{type}}" value="{{value}}" name="{{attribute}}" readonly>
    {{else if select}}

      {{#power-select disabled=readonly selected=value options=processedContent onchange=(action (mut value)) as |item|}}
        <div class="ember-power-select-item">
          {{power-select-item item=item processedLabel=processedLabel}}
        </div>
      {{/power-select}}

    {{else if multiSelect}}

      {{ember-selectize
        multiple=true
        content=processedContent
        optionValuePath=processedPath
        optionLabelPath=processedLabel
        selection=value
        disabled=true}}

    {{/if}}
  {{else}}
    {{#if checkbox}}
      {{input class="form-control" type=type checked=value name=attribute}}
    {{else if switch}}
      {{bs-switch class="form-control" checked=value on-text='Ativo' off-text='Inativo'}}
    {{else if text}}
      {{input class="form-control" type=type value=value name=attribute}}
    {{else if password}}
      {{input class="form-control" type=type value=value name=attribute}}
    {{else if select}}

      {{#power-select selected=value options=processedContent onchange=(action (mut value)) as |item|}}
        <div class="ember-power-select-item">
          {{power-select-item item=item processedLabel=processedLabel}}
        </div>
      {{/power-select}}

    {{else if multiSelect}}

      {{ember-selectize
        multiple=true
        content=processedContent
        optionValuePath=processedPath
        optionLabelPath=processedLabel
        selection=value}}

    {{/if}}
  {{/if}}
</div>
