<h1>{{methodName}} {{modelName}}</h1>

<form class="right-form">
{{magic-form model=model errors=errors definitions=definitions submitted=submitted}}
<button type="button" name="button" {{action 'saveRecord'}}>Save</button>
</form>

{{outlet}}
