<h1>{{cptMethodName}} {{cptModelName}}</h1>

<form class="form">
  {{magic-form model=model errors=errors definitions=definitions submitted=submitted}}
<button class="btn btn-primary" type="button" name="button" {{action 'saveRecord'}}>Save</button>
</form>

{{outlet}}
